<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput disabled="disabled" placeholder="Nome" [(ngModel)]="product.name" name="name" >
        </mat-form-field>
        <mat-form-field>
            <input matInput disabled="disabled"  placeholder="Preço (R$)" [(ngModel)]="product.price" name="price" >
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteProduct()" color="warn">
        Deletar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
<mat-spinner class="spinner" *ngIf="loading"></mat-spinner>